.index-image{
    box-sizing: border-box;
    background-image: url("./images/gaming-bg.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
}

.game-heading h1{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size:50px;
    margin-top: 150px;
}

.game-heading-text h4{
    color: aliceblue;
    font-size: 20px;
    margin-top: 15px;
}

.game-box-container{
    /* margin-left: 130px;         ----change in responsive------ */
    margin-top: 30px;
    margin-bottom: 30px;
}
.game-box{
    height: 250px;
    width: 300px;
    border: 2px solid white;
    margin-right: 25px;
    margin-left: 10px;
    transition: 0.5s;
    margin-bottom: 60px;
    border-radius: 10px;
}

.game-box:hover{
    box-shadow: 2px 2px 4px #888888;
    background-color: white;
    cursor: pointer;
}

.game-box-title h5{
    color: aliceblue;
    font-size: 20px;
}

.game-box-desc{
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0;
    opacity: 0; 
    transition: opacity 0.25s;
}

.game-box:hover .game-box-desc{
    opacity: 1;
    font-size: 20px;  
    color: black;
    font-weight: bolder;
}

.game-box:hover .game-box-title h5{
    font-size: 20px;
    color: black;
}

/* ---------------------------------ideas------------------------------------------ */

.ideas-heading h3{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 30px;
}

.ideas-description h4{
    font-size: 22px;
    font-weight: 500;
    font-family: Optima, sans-serif;
    line-height: 30px;
    font-stretch: extra-expanded;
    text-align: justify;
    padding:20px;
}

.ideas-border{
    width: 500px;
    height: 4px;
    background:#8395a7; 
    margin:10px auto;
}

.ideas-description{
    text-align: center;
}

.individual-card{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-images{
    width: 100%;
    height: 300px;
}

.card-spacing{
    margin: 20px 20px;
}

.card-description{
    line-height: 30px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

/* -----------workflows--------------- */

.workflow-heading{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 10px;
}

.workflow-border{
    width: 700px;
    height: 4px;
    background:#8395a7; 
    margin:10px auto;   
}

