* {
  box-sizing: border-box;
}
/*
 * Custom translucent site header
 */
 
.site-header {
  background-color: rgb(4 32 50 / 85%);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


#main-footer {
    background: #262F36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718FA9;
}

#main-footer a {
    color: #6C6F73;
}



.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}



/* ---------footer text size-------------- */

.list-unstyled a{
  font-size: 15px;
  text-decoration: none;
}

.footer-heading h6{
  font-size: 20px;
}


@media (min-width: 40em) {
  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


        
  

/* responsive */

@media only screen and (max-width: 900px)
{
    .col-md-5>img{
        width: 300px;
        height: 350px;
    }
    
}
    
    
@media only screen and (max-width: 900px)
{
      
    .col-md-6 .video{
        width: 300px;
        
    }
}
@media screen and (max-width: 1400px) and (min-width: 900px)
{
   .col-md-5>img,.col-md-6 .video {
        width: 400px;
    }
}

@media only screen and (max-width: 500px){
    .carousel-item{
        height: 350px;
        
    }
    
}


/* ------------------ethics--------------------- */

*,body{
  box-sizing: border-box;
}

.ethic-img img{
  width: 100%;
  margin:25px 15px;
  border: 4px solid #888888;
  border-radius: 10px;
}

.ethic-info h3{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #888888;
}

.ethic-info p{
  width: 100%;
  text-align: justify;
  /* text-align: center; */
  margin:auto ;
  padding:50px;
  line-height: 30px;
  font-size: 15px;
}
/* -------------------ethics end ----------------------*/

/* ---------profiles css---------- */
.profile-responsive-img img{
  width: 100%;
  max-height: 550px;
}

@media only screen and (max-width:576px){
  .profile-responsive-img img{
      height: 200px;
  }
}
/* --------profiles end--------- */